body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

#movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the movie items */
}

.movie-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-detail-container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd; /* Add border to the container */
    padding: 20px; /* Add padding to the container */
    background-color: #fff; /* Add background color to the container */
}

.movie-poster {
    width: 40%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 60vh; /* Reduce the height by 40% */
    margin-right: 20px; /* Space between poster and details */
}

.movie-details {
    flex: 1;
}