<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FanAnalytics</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h1>2024's Loved Genres</h1>
        <canvas id="genreChart" width="400" height="200"></canvas>
    </div>
    <script src="/js/fananalytics.js"></script>
</body>
</html>